<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поздравляем!</title>
</head>
<body>
<h1>Поздравляем!</h1>
<p>Вы решили все уравнения! Теперь сдайте их учителю. Его зовут <strong>Lion</strong>.</p>

<img src="{{ url_for('static', filename='lions_skill.png') }}"
     alt="Вы решили все уравнения! Теперь сдайте их учителю. Его зовут Lion" style="max-width: 100%; height: auto;">

</body>
</html>
